@mixin search {
  
        transition: all 0.5s;
        .input-group {

            //border: 1px solid #ddd;
            border-radius: 0.25rem;
            overflow: hidden;
      
            input {
                border: transparent;
                &:focus {
                    box-shadow: 0;
                }
            }

            i {
                color: $color-primary;
                background-color: white;
                padding: 0.65rem;
                //transition: all 0.5s;
                &:hover {
                    background-color: $color-primary;
                    color: white;
                    cursor: pointer;
                }
               
            }
        }
       
        
   
}