#categories {
    .item {
        box-shadow: 0 1px 3px 0 rgba(20,23,28,.15);
        align-items: center;
        padding: 0 1rem;
        &:hover {
            border: transparent;
            box-shadow: 0 1px 10px 0 rgba(20,23,28,.15);
        }
    
            i {
                font-size: 1.5rem;
                padding-right: 0.5rem;
            }
        
    }
    
}